// Side bar

.headInfo{
	width:268px;
	display:block;
	margin: 0 auto;
	margin-top: 35vh;
	h1,h3{
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1;
	}
	h1{
		line-height: 0.7;
	}
	h3{
		margin-top: 15px;
		font-weight: 200;
	}
	.socialMedia{
		margin-top: 15px;
		.socialItem{
			  width: 3rem;
			  height: 3rem;
			  display: inline-block;
			  margin-right: 0.55rem;
			  font-size: 2.6rem;
		}
	}
}