body{
  font-family: "proxima-nova", arial;
  font-weight: 300;
  font-size: 20px;
 }
 h1,h2{
 	font-family: "proxima-nova-extra-condensed";
 	text-transform: uppercase;
 	font-size: 7rem;
 }
 .navbar-default{
 	background-color: transparent; 
   	border-color: transparent; 
 }
 .navbar-brand{
 	font-family: "proxima-nova-extra-condensed";
 	text-transform: uppercase;
 	color:#000!important;
 }

 .navbar-brand { 
 	  margin-left: auto;
	  margin-right: auto;
	  display: block;
	  text-align: center;
	  float: none;

 }
 .navbar-header{
 	float:none;
 }

 .blogList{

  overflow-y: scroll;
  max-height: 100vh;
 	
 	span{
 			font-family: "proxima-nova", arial;
  			font-weight: 300;
  			font-size: 1.2rem;
  			font-style: italic;
 		}
 	a{
 		color:#000;
 		&:hover{
 			text-decoration: none;
 		}
 	}
 }

 footer{
 	border-top:1px solid #000;
 	margin: 2.5rem 0;
 	margin-top: 3rem;
 	
 	form{
 		width: 250px;
 		margin:0 auto;
 		margin-top: 1rem;
 		display: block;
 		input[type="email"]{
 			width: 100%;
 			background-color: #fff;
 			outline: none;
 			border: 1px solid #a6a6a6;
 			border-radius:5px;
 			margin-bottom:0.5rem;
 		}
 		input[type="submit"]{
 			width: 100%;
 			background-color:#fff;
 			outline: none;
 			border:1px solid #a6a6a6;

 		}
 	}
 }
 iframe{
 	max-width: 100%!important;
 }


 @import "sidebar";
 @import "blog";
 @import "comment";
 @import "mediaq";